

body{
  font-family: Verdana, sans-serif;
}

#header {
  position: relative; top: 60px; 
  width:100%; text-align: center; border-radius: 5px; 
  background: rgba(180, 110, 110, 0.603); color: black; 
  float:left;
}

#body {
  position:relative; top: 200px;
  width:100%; text-align: center; border-radius: 5px; 
  background: rgba(207, 155, 35, 0.603); 
}
.mathbody {
background-color: hsl(203, 65%, 66%);}
.resumebody {
background-color: #d6d377;}
.aboutbody {
background-color: #c9b8e3;
}
.one {
  height: 40%;
  width: 40%;
}
.footer{
  position:fixed; top: 800px;
  display: inline-block;
 margin-top: 2%
  width:100%; text-align: center; border-radius: 10px; 
 
}
table {
  border: 5px solid black;
  padding: 10px; 
}
th, td {border: 1px dotted black;
  padding: 10px;}

.two {
  height: 20%;
   width: 20%;
}
